
<h5>Заказчик: <%= @order.customer.name%></h5>
<p>
  <b>Категория:</b>
    <%= @order.category.category_type %> |
  <b>Работник:</b>
    <%= @order.executor.name %>
</p>
<h4>Работы: </h4>
  <% @order.services.each do |service| %>
    <div>
      <li><%= service.service_type %>
        <%= link_to 'Редактировать', edit_order_service_path(@order, service) %> |
        <%= link_to 'Удалить', [@order, service], method: :delete %>
      </li>

    </div>
</br>

<% end %>
<%= link_to 'Добавть работы', new_order_service_path(@order) %> |
<%= link_to 'Редактировать', edit_order_path(@order) %> |
<%= link_to 'К заказам', orders_path %>
